@page
@model Gym_Tracker.Pages.UserCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtUserDatum[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtUserDatum[0].UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtUserDatum[0].UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtUserDatum[0].UserAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtUserDatum[0].UserCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtUserDatum[0].UserJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtUserDatum[0].UserLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExtUserDatum) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserJoined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLevel)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
