@page
@model Gym_Tracker.Pages.ApparalCrud.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtExerciseApperal[0].ApperalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtExerciseApperal[0].ApperalBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtExerciseApperal[0].ApperalMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtExerciseApperal[0].ApperalExerciseNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExtExerciseApperal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApperalType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApperalBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApperalMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApperalExerciseNavigation.ExerciseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ApperalId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ApperalId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ApperalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
