
@page
@using GymTrackersAPI.Entities
@model Gym_Tracker.Pages.SearchResultsModel



<h2>Search Results</h2>


@if (Model.UserList != null && Model.UserList.Any())

{
    <p><strong>Users Found:</strong></p>
    <ul>
        @foreach (var user in Model.UserList)

        {
            <li>
                <p><strong>Username:</strong> @user.UserName</p>
                <p><strong>User Email:</strong> @user.UserEmail</p>
                <p><strong>User Level:</strong> @user.UserLevel</p>
                <hr /> 
            </li>
            <td>
                <a href="@Url.Page("/UserCrud/Edit", new { id = user.Id })"class="btn btn-danger">Edit</a>
            </td>
            <td>
                <a href="@Url.Page("/UserCrud/Delete", new { id = user.Id })" class="btn btn-danger">Delete</a>
            </td>

            <td>
                <a href="@Url.Page("/UserCrud/Index", new { id = user.Id })" class="btn btn-danger">View all</a>
            </td>
        }
    </ul>
}

else

{
    <p>No results found.</p>

}