@page
@model Gym_Tracker.Pages.Membership.IndexModel

@{
    ViewData["Title"] = "Membership";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipMonthPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership[0].MembershipMonthLength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membership) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipMonthPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipMonthLength)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
