@page
@model Gym_Tracker.Pages.GymLocCrud.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExtGymOrg</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtGymOrg.GymName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtGymOrg.GymName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtGymOrg.GymCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtGymOrg.GymCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtGymOrg.OpenTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtGymOrg.OpenTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtGymOrg.CloseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtGymOrg.CloseTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ExtGymOrg.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
