@page
@model Gym_Tracker.Pages.GymLocCrud.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtGymOrg[0].GymName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtGymOrg[0].GymCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtGymOrg[0].OpenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtGymOrg[0].CloseTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExtGymOrg) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GymName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GymCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
